html {
    font-size: 12px;
}

.s3 {
    font-family: "Freestyle Script", sans-serif, serif;
    font-weight: bold;
}

#load-line {
    height: 0.3em;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
}

#line-load {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    height: 100%;
    background-color: blue;
    transition: 0.5s;
    width: 50%;
}


@media screen and ( max-width: 991px){
    .navbar-brand {
        width: 80%;
    } 
}